* {
    margin: 0;
    padding: 0;
}

.and {
    color: red;
    font-weight: bold;
}

.or {
    color: blue;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

#title, #school-name-subtitle {
    margin: 2rem;
    text-align: center;
}

#school-form {
    text-align: center;
}

.division {
    margin: 0 20%;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.details-list {
    margin: 2rem;
    background: palevioletred;
    border-radius: 2rem;
}

.details-list > summary {
    padding: 1rem;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.details-list li {
    padding: 0.8rem 2rem;
    list-style: none;
    text-align: left;
    line-height: 1.8;
    background: rgb(158, 158, 158);
}

.details-list li:nth-child(odd) {
    background: gainsboro;
}

.sublist {
    
}

.sub-field {
    font-weight: bold;
}

.hidden {
    display: none;
}